---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9xOCXq4ID1uE7J0Lsh_HB4mKCSUpUtYqg7jLxASG7CvXgX74u8QW5VOPXbkLxISw4QrzVmip9TWxBR_Xk&client_secret=8459004633053529605&username=xptavares%40gmail.com&password=120430ale4VZjPPcUBhQmFVfp6jGTlgCI9
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Do0000000Zn13EAC/005o0000000xr6hAAA","issued_at":"1409966604009","token_type":"Bearer","instance_url":"https://na17.salesforce.com","signature":"QbZlZDKWB0EN3fqhhaWxU/xyiapUj0wANagz5snbvU0=","access_token":"00Do0000000Zn13!ARQAQLuncHwxQ2WUHHdG8fp0Z0QjJp5yahqY5VgbSR4g6JZmWoI1aTpHRrf17ylL7aSkKQv.hbiIjGYgyGzL6Iz1EwQxEPEI"}'
  recorded_at: Sat, 06 Sep 2014 01:23:24 GMT
- request:
    method: post
    uri: https://na17.salesforce.com/services/data/v26.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"LastName":"New name"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Do0000000Zn13!ARQAQLuncHwxQ2WUHHdG8fp0Z0QjJp5yahqY5VgbSR4g6JZmWoI1aTpHRrf17ylL7aSkKQv.hbiIjGYgyGzL6Iz1EwQxEPEI
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=186/15000
      Location:
      - "/services/data/v26.0/sobjects/Contact/003o0000006xSwTAAU"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"003o0000006xSwTAAU","success":true,"errors":[]}'
  recorded_at: Sat, 06 Sep 2014 01:23:25 GMT
- request:
    method: delete
    uri: https://na17.salesforce.com/services/data/v26.0/sobjects/Contact/003o0000006xSwTAAU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Do0000000Zn13!ARQAQLuncHwxQ2WUHHdG8fp0Z0QjJp5yahqY5VgbSR4g6JZmWoI1aTpHRrf17ylL7aSkKQv.hbiIjGYgyGzL6Iz1EwQxEPEI
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=186/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 06 Sep 2014 01:23:26 GMT
recorded_with: VCR 2.9.2
