---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9xOCXq4ID1uE7J0Lsh_HB4mKCSUpUtYqg7jLxASG7CvXgX74u8QW5VOPXbkLxISw4QrzVmip9TWxBR_Xk&client_secret=8459004633053529605&username=xptavares%40gmail.com&password=120430ale4VZjPPcUBhQmFVfp6jGTlgCI9
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Do0000000Zn13EAC/005o0000000xr6hAAA","issued_at":"1409961838503","token_type":"Bearer","instance_url":"https://na17.salesforce.com","signature":"3DIaZMFzMXfaO065wZXToE8dHtN5B2XllWydLOq3Qg4=","access_token":"00Do0000000Zn13!ARQAQLuncHwxQ2WUHHdG8fp0Z0QjJp5yahqY5VgbSR4g6JZmWoI1aTpHRrf17ylL7aSkKQv.hbiIjGYgyGzL6Iz1EwQxEPEI"}'
  recorded_at: Sat, 06 Sep 2014 00:03:58 GMT
- request:
    method: get
    uri: https://na17.salesforce.com/services/data/v26.0/query?q=select%20Id,%20Name,%20Site,%20Phone%20from%20Account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Do0000000Zn13!ARQAQLuncHwxQ2WUHHdG8fp0Z0QjJp5yahqY5VgbSR4g6JZmWoI1aTpHRrf17ylL7aSkKQv.hbiIjGYgyGzL6Iz1EwQxEPEI
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=135/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":76,"done":true,"records":[{"attributes":{"type":"Account","url":"/services/data/v26.0/sobjects/Account/001o0000007gkAOAAY"},"Id":"001o0000007gkAOAAY","Name":"GenePoint","Site":null,"Phone":"(650)
        867-3450"},{"attributes":{"type":"Account","url":"/services/data/v26.0/sobjects/Account/001o0000007gkAPAAY"},"Id":"001o0000007gkAPAAY","Name":"United
        Oil & Gas, UK","Site":null,"Phone":"+44 191 4956203"},{"attributes":{"type":"Account","url":"/services/data/v26.0/sobjects/Account/001o0000007gkAQAAY"},"Id":"001o0000007gkAQAAY","Name":"United
        Oil & Gas, Singapore","Site":null,"Phone":"(650) 450-8810"},{"attributes":{"type":"Account","url":"/services/data/v26.0/sobjec[...]
