---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9xOCXq4ID1uE7J0Lsh_HB4mKCSUpUtYqg7jLxASG7CvXgX74u8QW5VOPXbkLxISw4QrzVmip9TWxBR_Xk&client_secret=8459004633053529605&username=xptavares%40gmail.com&password=120430ale4VZjPPcUBhQmFVfp6jGTlgCI9
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Do0000000Zn13EAC/005o0000000xr6hAAA","issued_at":"1409963111131","token_type":"Bearer","instance_url":"https://na17.salesforce.com","signature":"jzmykm0bHQkppBmswkx+Eig3/wCk/vIR5PNvlqzE7Ag=","access_token":"00Do0000000Zn13!ARQAQLuncHwxQ2WUHHdG8fp0Z0QjJp5yahqY5VgbSR4g6JZmWoI1aTpHRrf17ylL7aSkKQv.hbiIjGYgyGzL6Iz1EwQxEPEI"}'
  recorded_at: Sat, 06 Sep 2014 00:25:11 GMT
- request:
    method: get
    uri: https://na17.salesforce.com/services/data/v26.0/query?q=select%20Id,%20Title,%20Phone,%20Company,%20Email,%20FirstName,%20LastName%20from%20Lead
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00Do0000000Zn13!ARQAQLuncHwxQ2WUHHdG8fp0Z0QjJp5yahqY5VgbSR4g6JZmWoI1aTpHRrf17ylL7aSkKQv.hbiIjGYgyGzL6Iz1EwQxEPEI
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=159/15000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalSize":22,"done":true,"records":[{"attributes":{"type":"Lead","url":"/services/data/v26.0/sobjects/Lead/00Qo0000003IffGEAS"},"Id":"00Qo0000003IffGEAS","Title":"Director
        of Vendor Relations","Phone":"(850) 644-4200","Company":"Farmers Coop. of
        Florida","Email":"bertha@fcof.net","FirstName":"Bertha","LastName":"Boxer"},{"attributes":{"type":"Lead","url":"/services/data/v26.0/sobjects/Lead/00Qo0000003IffHEAS"},"Id":"00Qo0000003IffHEAS","Title":"CFO","Phone":"(703)
        757-1000","Company":"Abbott Insurance","Email":"pcotton@abbottins.net","FirstName":"Phyllis","LastName":"Cotton"},{"attributes":{"type":"Lead","url":"/services/data/v26.0/sobjects/Lead/00Qo0000003IffIEAS"},"Id":"00Qo0000003IffIEAS","Title":"SVP,
        Procurement","Phone":"886-2-25474189","Company":"Jackson Controls","Email":"jeffg@[...]
