---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9xOCXq4ID1uE7J0Lsh_HB4mKCSUpUtYqg7jLxASG7CvXgX74u8QW5VOPXbkLxISw4QrzVmip9TWxBR_Xk&client_secret=8459004633053529605&username=xptavares%40gmail.com&password=120430ale4VZjPPcUBhQmFVfp6jGTlgCI9
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://login.salesforce.com/id/00Do0000000Zn13EAC/005o0000000xr6hAAA","issued_at":"1409961848596","token_type":"Bearer","instance_url":"https://na17.salesforce.com","signature":"DzRUwr8FslkAwtpQnZmVF6jdV6D70g9fGLQugrXoGto=","access_token":"00Do0000000Zn13!ARQAQLuncHwxQ2WUHHdG8fp0Z0QjJp5yahqY5VgbSR4g6JZmWoI1aTpHRrf17ylL7aSkKQv.hbiIjGYgyGzL6Iz1EwQxEPEI"}'
  recorded_at: Sat, 06 Sep 2014 00:04:08 GMT
- request:
    method: post
    uri: https://na17.salesforce.com/services/data/v26.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"Name":"New Name"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Do0000000Zn13!ARQAQLuncHwxQ2WUHHdG8fp0Z0QjJp5yahqY5VgbSR4g6JZmWoI1aTpHRrf17ylL7aSkKQv.hbiIjGYgyGzL6Iz1EwQxEPEI
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=135/15000
      Location:
      - "/services/data/v26.0/sobjects/Account/001o0000007lyxrAAA"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"001o0000007lyxrAAA","success":true,"errors":[]}'
  recorded_at: Sat, 06 Sep 2014 00:04:10 GMT
- request:
    method: patch
    uri: https://na17.salesforce.com/services/data/v26.0/sobjects/Account/001o0000007lyxrAAA
    body:
      encoding: UTF-8
      string: '{"Name":"New Edit Name"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth 00Do0000000Zn13!ARQAQLuncHwxQ2WUHHdG8fp0Z0QjJp5yahqY5VgbSR4g6JZmWoI1aTpHRrf17ylL7aSkKQv.hbiIjGYgyGzL6Iz1EwQxEPEI
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=135/15000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 06 Sep 2014 00:04:11 GMT
recorded_with: VCR 2.9.2
